.container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #fff;
  text-transform: capitalize;
  text-align: left;
  .btn {
    margin: 10px;
  }
  .still {
    display: block;
    width: 1200px;
    height: 700px;
    cursor: pointer;
    object-fit: cover;
    margin: 0 auto;
  }
  .form-control {
    margin: 10px;
    display: unset;
    width: unset;
    padding-bottom: 9px;
  }
}
.container-fluid {
  display: flex;
  flex-wrap: wrap;
  .card{
    flex-grow: 1;
  }
}