.container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #fff;
  text-transform: capitalize;
  text-align: left;
  .btn {
    margin: 10px;
  }
  img.d-inline-block.align-top {
    margin-right: 10px;
  }
  .form-control {
    margin: 10px;
    display: unset;
    width: unset;
    padding-bottom: 9px;
  }
  .profile{
    width: 30px;
    height: 30px;
  }
}
.container-fluid {
  display: flex;
  flex-wrap: wrap;
  .card{
    flex-grow: 1;
  }
}